@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url('./background.png');
    background-size:cover;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: gold; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
::-webkit-scrollbar-thumb:hover {
    background: black;
} 
  #searchbar{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}
.search_btn{
    background-color: rgba(231, 161, 50, 0.864);
    color: white;
    border: none;
    outline: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 500px;
    padding-left: 3px;
    padding-right: 3px;
}
.search_icon{
    color: black;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    padding: 8px;
}
.footer{
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    color: white;
    padding: 20px 0;
    font-size: xx-large;
    font-weight: 500;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#item{
    padding: 0;
    background-color: rgba(231, 161, 50, 0.864);
    box-shadow: 0 0 0 1px rgba(172, 113, 18, 0.864);
    filter: drop-shadow(5px 5px 5px black);
    height: 29rem;
    border-radius: 7px;
}
.nav-item a{
    color: white;
    font-size: x-large;
}
.nav-item a:focus{
    border-bottom: 1px solid rgba(172, 113, 18, 0.864);
    color: white;
}
.nav-item a:hover{
    color:rgba(231, 161, 50, 0.864);
    padding: 0.1rem;
}
#recipe_btn{
    background-color: rgb(19, 18, 18);
    border-radius: 6px;
    color: white;

}
.brand{
    height: 100px;
}
#searchbar:focus{
    border: none;
    filter: none;
    outline: none;
    box-shadow: none;
}
.main_qoute{
    font-size: 80px;  
    font-family: "Satisfy", "cursive";
    font-weight: 500;
    /* font-style: normal; */
}
#main_section{
    height: 90vh;
}